{% extends "property/main.html" %}
{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-primary d-flex justify-content-between" role="alert">
            <span class="align-self-center">Home / Property / <span style="color: gray;">Details</span></span>
            {% if request.user|has_group:'admin' %}
                <a href="{% url 'calendar' property.id %}" class="btn btn-sm btn-primary">Schedule a Meeting</a>
            {% endif %}
        </div>

        <div class="property-details-holder">
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>{{property.title}}</h5>

                    {% if request.user|has_group:'admin' %}
                        <div class="row">
                            <div class="col-sm-12">
                                <form method="POST" action="{% url 'update_property_status' property.id %}" class="inline-form">
                                    {% csrf_token %}
                                    <select name="status" id="cars" class="form-control">
                                        {% if property.status %}
                                            <option value="{{property.status}}">{{property.status}}</option>
                                        {% endif %}
                                        <option value="APPROVED">APPROVED</option>
                                        <option value="PENDING">PENDING</option>
                                        <option value="UNDER DISCUSSION">UNDER DISCUSSION</option>
                                        <option value="REJECTED">REJECT</option>
                                    </select>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <h5 class="card-title"> Location: {{property.location}}</h5>
                        <h5 class="card-title">Address: {{property.address}}</h5>
                    </div>

                    <div class="mt-3">
                        <span class="label">Description: </span> <br>
                        <p class="card-text">{{property.description}}</p>
                    </div>

                    <div class="d-flex justify-content-around mt-5">
                        <div>
                            <span class="label">Area: </span> <br>
                            <span class="value">{{property.area}} f</span>
                        </div>

                        <div>
                            <span class="label">Price: </span> <br>
                            <span class="value">{{property.price}} PKR</span>
                        </div>

                        <div>
                            <span class="label">Status: </span> <br>
                            <span class="value">{{property.status}}</span>
                        </div>

                        <div>
                            <span class="label">Date: </span> <br>
                            <span class="value">{{property.listing_date}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <span class="label mb-3">Comments</span><br>

            {% for comment in comments %}
                <div class="comment-wrapper" id="comment-wrapper-{{ comment.id }}">
                    <div class="d-flex justify-content-between">
                        <span class="name-container">{{ comment.user }}</span>
                        {% if request.user == comment.user %}
                            <div class="comment-btn-holder">
                                <a href="javascript:void(0);" onclick="editComment({{ comment.id }})">Edit</a>
                                <a href="{% url 'delete_comment' comment.id property.id %}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card text-bg-light comment-container mb-3" id="comment-{{ comment.id }}">
                        {{ comment.comment }}
                    </div>
                    <div class="card text-bg-light comment-edit-container mb-3 d-none" id="edit-comment-{{ comment.id }}">
                        <textarea class="edit-comment-box" id="edit-comment-text-{{ comment.id }}" rows="3">{{ comment.comment }}</textarea>
                        <button class="btn btn-sm btn-primary" onclick="saveComment({{ comment.id }})">Save</button>
                    </div>
                </div>
            {% endfor %}

            
        </div>

        <div 
            class="card text-bg-light mt-3 text-holder"
        >
            <form method="POST" action="" style="width: 100%;">
                {% csrf_token %}
                <input type="text" name="comment" placeholder="Write you comment" class="comment-box" />
                <button type="submit" class="btn-icon-holder float-end"><i class="bi bi-send-fill send-btn"></i></button>  
            </form>
        </div>
    </div>

{% endblock content %}