{% extends "property/main.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-primary d-flex justify-content-between" role="alert">
            <span class="align-self-center">Home / <span style="color: gray;">Meetings</span></span>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Meeting</th>
                            <th scope="col">Organizer</th>
                            <th scope="col">User</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            <th scope="col">Attend</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <th scope="row"> {{meeting.id}} </th>
                            <td>{{meeting}}</td>
                            <td>{{meeting.admin}}</td>
                            <td>{{meeting.landowner}}</td>
                            <td>{{meeting.date}}</td>
                            <td>{{meeting.time}}</td>
                            <td>
                                {% if meeting.confirmed %}
                                    Confirmed
                                {% else %}
                                    Pending
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'confirm_meeting' meeting.id %}" class="btn btn-sm btn-primary">Confirm</a>
                            </td>
                            <td>
                                {% if meeting.confirmed %}
                                    <a href="{% url 'attend_meeting' meeting.id %}" class="btn btn-sm btn-info">Attend</a>
                                {% else %}
                                    <button class="btn btn-sm btn-info" disabled>Attend</button>
                                {% endif %}
                            </td>
                        </tr>                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
